*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.container {
    width: 1140px;
    margin : 0 auto;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 15px;
}

header{
    width: 1140px;
}
.search-bar {
    width: 300px;
    margin: 10px auto;
}
.search {
    width: 300px;
    margin: 10px auto;
}

.desc {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}
.input {
    margin: 10px auto;
    width: 300px;
}

.input input[type='text'] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.input input[type='submit'] {
    padding: 10px;
}

.output {
    width: 800px;
    margin: 0 auto;
}
.output thead{
    font-weight: bold;
}
.output td{
    font-size: 16px;
    padding: 10px;
}

.output td button {
    padding: 10px;
    font-size: 16px;
}

.delete {
    background: red;
    color: white;
}